<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form action="/change_text" method="POST">
      <label for="user_phrase">Enter your phrase:</label>
      <input type="text" name="user_phrase" id="user_phrase"/><br>
      <input type="submit" value="Submit"/>
    </form>
  
  </body>
</html>